<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    colors="true"
    bootstrap="tests/phpunit/bootstrap.php">

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
    </php>

    <testsuites>
        <testsuite name="functional">
            <directory>tests/phpunit/Func</directory>
        </testsuite>
        <testsuite name="modules">
            <directory>modules/*/tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
